[submodule "plm_web_3d/static/src/js/lib/three.js"]
	path = plm_web_3d/static/src/js/lib/three.js
	url = https://github.com/mrdoob/three.js.git
	branch = dev
[submodule "plm_web_3d/static/src/js/lib/dxf-viewer"]
	path = plm_web_3d/static/src/js/lib/dxf-viewer
	url = https://github.com/OmniaGit/dxf-viewer.git
    branch = 15.0