
.a_preview{
	padding: 2px;
	color: #7c7bad;

}
div.state_style{
	display: -webkit-box;
	padding-top: 15px;
	padding-right: 8px;
}
div.more_containers{
	padding-left: 8px;
	padding-right: 8px;
	}

.image_component_kanban{
  	border-radius: 2px;
	-webkit-transition: .5s all;   
	-webkit-transition-delay: 5s; 
	-moz-transition: .5s all;   
	-moz-transition-delay: 5s; 
	-ms-transition: .5s all;   
	-ms-transition-delay: 5s; 
	-o-transition: .5s all;   
	-o-transition-delay: 5s; 
	transition: .5s all;   
	transition-delay: 0.1s; 
	width:50px;
	border: 1px solid #893b74;
	display: block;
	position: relative;
}

.image_component_kanban:hover {	
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	z-index: 1000;
	transform: scale(8); 
    /*transform-origin: 0% 0%;*/
    position: sticky;
}




