.image_component_kanban{
  width:50px;
  border: 2px solid #893b74;
  border-radius: 7px;
}
.a_preview{
	padding: 5px;
}
div.state_style{
	display: -webkit-box;
	padding-top: 15px;
	padding-right: 8px;
}
div.more_containers{
	padding-left: 8px;
	padding-right: 8px;
}