<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem
            id="plm_menu"
            name="PLM"
            web_icon="plm,static/description/icon.png"
            groups="plm.group_plm_admin,plm.group_plm_integration_user,plm.group_plm_view_user,plm.group_plm_readonly_released"

    />
    <menuitem
            id="plm_component_menu_view"
            name="Components"
            parent="plm.plm_menu"
            sequence="10"/>

    <menuitem
            id="ir_attachment_form"
            name="Documents"
            parent="plm.plm_menu"
            sequence="11"/>

    <menuitem
            id="plm_menu_relation"
            name="Component Relations"
            parent="plm.plm_menu"
            sequence="12"/>

    <menuitem
            id="plm_menu_dictionaries"
            name="Configuration"
            parent="plm.plm_menu"
            sequence="50"
            groups="plm.group_plm_integration_user"/>



    <!-- Parent menu "Documents"  -->

    <menuitem
            id="menu_document_files"
            name="Search on Documents"
            action="plm_action_document_form"
            parent="plm.ir_attachment_form"
            sequence="10"
    />

    <menuitem
            id="menu_backupdoc"
            name="Search on Backup Data Set"
            action="action_plm_backupdoc"
            parent="plm.ir_attachment_form"
            sequence="13"
            groups="plm.group_plm_admin"/>

    <menuitem
            id="menu_checkout"
            name="Search on Checked-Out Documents"
            action="plm.action_plm_checkout"
            parent="plm.ir_attachment_form"
            groups="plm.group_plm_integration_user"
            sequence="12"
    />

    <menuitem
            name="Search on Document Relations"
            action="plm_action_document_relations"
            id="menu_document_relations"
            parent="plm.ir_attachment_form"
            sequence="11"
    />

	    <menuitem
	        name="CAD Opens"
	        action="plm.action_plm_cad_open"
	        id="menu_cad_open"
	        parent="plm.ir_attachment_form" 
	    	sequence="15"
	    	groups="plm.group_plm_admin,base.group_no_one"
	    />

    <menuitem
        name="CAD Opens Bck"
        action="plm.action_plm_cad_open_bck"
        id="menu_cad_open_bck"
        parent="plm.ir_attachment_form" 
    	sequence="16"
    	groups="plm.group_plm_admin,base.group_no_one"
    />

    <!-- Parent menu "Configuration" -->
    <menuitem
            name="Descriptions"
            action="plm_action_description_form"
            id="menu_description"
            groups="plm.group_plm_admin"
            parent="plm.plm_menu_dictionaries"/>

    <menuitem
            name="Finishings"
            action="plm_action_finishing_form"
            id="menu_finishing"
            groups="plm.group_plm_admin"
            parent="plm.plm_menu_dictionaries"/>

     <menuitem
            name="Treatments"
            action="plm_action_treatment_form"
            id="menu_treatment"
            groups="plm.group_plm_admin"
            parent="plm.plm_menu_dictionaries"/>

    <menuitem
            name="Materials"
            action="plm_action_material_form"
            id="menu_material"
            groups="plm.group_plm_admin"
            parent="plm.plm_menu_dictionaries"/>

    <menuitem
            id="plm_dbthread_id"
            name="DbThread"
            parent="plm.plm_menu_dictionaries"
            groups="plm.group_plm_admin"
            action="plm_action_plm_dbthread"/>
            
    <menuitem
            id="plm_groups"
            name="Groups"
            parent="plm.plm_menu_dictionaries"
            action="plm_action_res_groups"/>
            
    <menuitem
            id="plm_settings"
            name="Settings"
            parent="plm.plm_menu_dictionaries"
            sequence="50"
            groups="plm.group_plm_admin"
            action="plm_action_settings_form"/>



    <!-- Parent menu "Configuration" -->
    <menuitem
            id="menu_base_component"
            name="Search on Engineering Parts"
            parent="plm.plm_component_menu_view"
            action="action_plm_component_base"/>

    <!-- Parent menu "Component Relations" -->
    <menuitem
            name="Search on Normal Bill of Materials"
            id="menu_relation_normal"
            parent="plm.plm_menu_relation"
            action="plm_action_normal_form"
    />
</odoo>
